body, html {
    height: 100%;
    margin: 0;
}
* {
    font-family: 'Lato', sans-serif;
}
body{
    padding: 2% 10%;
}
.textCenter{
    text-align: center;
}
.books{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.book{
    padding: 3%;
    margin-left: 10px;
    display: flex;
    width: 80%;
    border-bottom: 1px solid lightgray;
}
@media screen and (max-width: 640px){
    .book{
        flex-direction: column;
    }
}
.book-img{
    width: 135px;
    height: 185px;
    margin-right: 5%;
}
.book-description{
    width: 300px;
}
